form{
    align-content: center;
    transform: scale(1.2);
    position: relative;
    left: 200px;

}

#btnVerificar{
    align-content: auto;
    margin: auto;
    position: relative;
    left: 200px;
    top: 50px;
}
.w3-text-teal{
    top: 20px;

}